@import './base.css';

#gantt-wrapper {
  max-width: 100%;
  display: flex;

  #canvas-container {
    flex: 1;
    transform: translateX(-6px);
    canvas {
      cursor: default;
      height: 300px !important;
    }
  }

  #chart-labels {
    z-index: 1;
    height: 250px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 14px;
    min-width: 200px;
    transform: translateY(-1px);

    .label-box {
      flex: 1;
      align-items: center;
      height: 24px;
      padding: 4px;
      display: flex;
      justify-content: start;
      background-color: white;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5;
      padding: 14px;
      font-size: 14px;
    }

    .label-box:last-of-type {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

#services-metric-section {
  #service-metric-aggregations {
    table th, table td {
      background-color: transparent;
    }
  }
}
