@import './base.css';

#workload-generate-form-section {

  table {
    tr.link {
      td {
        color: rgb(178, 178, 178);
      }
      &:hover {
        td {
          cursor: pointer;
          color: rgb(0, 0, 0);
        }
      }
    }
    tr.link-active {
      td {
        color: rgb(0, 0, 0);
      }
    }
  }
}

#operations-execution-time-section {
  #gantt-wrapper {
    display: flex;
    #canvas-container {
      flex: 1;
      canvas {
        width: 100%;
      }
    }
  }
}

#services-metric-section {
  #service-metric-aggregations {
    .aggregations {
      width: max-content;
    }
    table {
      width: max-content;
    }
    table th, table td {
      background-color: transparent;
    }
  }
}


#infra-metric-section {
  #infra-metric-aggregations {
    .aggregations {
      width: max-content;
    }
    table {
      width: max-content;
    }
    table th, table td {
      background-color: transparent;
    }
  }
}
